.navbar {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;

  font-family: "Bungee", cursive, sans-serif;
  /* font-weight: 300; */
padding: 1rem;

  position: fixed;
  top: 0;
}
.fa-solid.fa-angles-down.fa-bounce {
  margin-top: 20px;
  float: right;
  color: red;
}
