.new-tweet {
  display: flex;
  flex-direction: column;

  font-family: “Source Sans Pro”, sans-serif;
  width: 100%;
  font-size: 20px;
  margin: 10px;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom-style: solid;
  color: #5a5a5a;
  border-bottom-width: 5px;
  background-color: #f4f1ec;
}

.controls-container {
  display: flex;
  justify-content: space-between;
}

#button {
  font-family: "Bungee", cursive, sans-serif;
  background-color: #4056a1;
  color: #ffffff;
}
.counter {
  font-family: "Bungee", cursive, sans-serif;
  
}
.exceed-limit {
  color: red;
}

.tweets {
  border: 3px solid;
  border-color: #5a5a5a;
  font-family: "Source Sans Pro";
  display: flex;
}

.tweet-message-error {
  display: none;
  justify-content: center;
  background-color: #e2980863;
  border: 3px solid #e29808;
  margin: 5px;
  padding: 6px;
  color: #7b5100;
}
